@import './components/likes/like';
@import './components/books/book';
@import './config';

* {
  text-align: center;
  color: $secondary-color;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $primary-color;
}
h1 {
  margin: 2rem 0 2rem 0;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: center;
  margin: 3rem;
  input{
    margin-right: 4rem;
    padding: 10px;
    font-size: 17px;
    border: 1px solid $secondary-color;
    width: 30vw;
    background: #f1f1f1;  
  }
  select {
    margin-right: 4rem;
    padding: 10px;
    font-size: 17px;
    border: 1px solid $secondary-color;
    width: 30vw;
    background: #f1f1f1; 
  }
  form {
    display: flex;
    align-items: center;
    p {
      margin-right: 1rem;
      font-size: 1.4rem;
    }
  }
  div.searchBar {
    display: flex;
    align-items: center;
    p {
      margin-right: 1rem;
      font-size: 1.4rem;
    }
  }
}
div.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  p {
    margin-left: 1rem;
  }
}
section {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  flex-wrap: wrap;


  .card {
    margin-bottom: 2rem;
  }
}