@import './components/likes/like';
@import './components/read/read';
@import './components/book/book';
@import './config';
@import './components/search_bar/search_bar';
@import './components/toggle/switch';

* {
  text-align: center;
  color: $secondary-color;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $primary-color;
}
h1 {
  margin: 2rem 0 2rem 0;
  font-size: 5rem;
  font-weight: 200;
  span {
    color: #f1f1f1;
  }
}

div.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  p {
    margin-left: 1rem;
  }
}
ul {
  width: 90vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;


  .card {
    margin-bottom: 2rem;
  }
}